{
  "globalFilterPatterns": [
    ".DS_Store",
    "Thumbs.db",
    ".git"
  ],
  "mappings": [
    {
      "name": "ProjectsSynced",
      "rcloneRemote": "synology-sftp",
      "localBasePath": "D:/ProjectsSynced",
      "remoteBasePath": "ProjectsSynced",
      "filterPatterns": [],
      "lastSyncMode": null,
      "lastSyncFolder": null,
      "lastSyncDate": null
    }
  ]
}
